@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
  padding: 20px 15rem;
}

.logo {
  font-size: 20px;
  font-weight: 550;
}

.nav-links {
  display: flex;
  gap: 1.2rem;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  margin-left: 15px;
}

/* Main Content Layout */
.main-content {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

/* Sections */
.section {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 15px;
  background: #f9f9f9;
  overflow: auto;
}

/* Code Editor */
#code-editor {
  display: flex;
  flex-direction: column;
}

.code-area {
  width: 100%;
  height: 300px;
  resize: none;
  padding: 10px;
  font-family: monospace;
  border: 1px solid #ccc;
  background: #fff;
  flex-grow: 1;
  border-radius: 1.15rem;
  overflow-y: auto;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

button {
  padding: 10px 30px;
  border: 1px solid #fff;
  background: #3F79DA;
  color: white;
  cursor: pointer;
  font-size: 0.93rem;
  border-radius: 2rem;
  transition: all 0.15s ease-out;
}

button:hover {
  background-color: #fff;
  color: #3F79DA;
  border: 1px solid #3F79DA;
}

#execute {
  background-color: #fff;
  color: #3F79DA;
  border: 1px solid #3f78da;
  transition: all 0.15s ease-out;
}

#execute:hover {
  background-color: #3F79DA;
  color: #fff;
}

/* Resizer */
.resizer {
  width: 4px;
  margin-left: 0.05rem;
  margin-right: 0.05rem;
  background: #fff;
  border-radius: 2rem;
  cursor: ew-resize;
  height: 100%;
  position: relative;
  transition: all 0.15s ease-out;
}

.resizer:hover {
  background: #929292;
}