@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  background-color: #efefef;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 15px 10%;
}

.search-bar {
  display: none;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transform: scale(0.5);
  transition-duration: .3s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: rgb(0, 0, 0);
  border-radius: 6rem;
  transition-duration: .3s;
}

#checkbox:checked + .toggle .bars {
  margin-left: 13px;
}

#checkbox:checked + .toggle #bar2 {
  transform: rotate(135deg);
  margin-left: 0;
  transform-origin: center;
  transition-duration: .3s;
}

#checkbox:checked + .toggle #bar1 {
  transform: rotate(45deg);
  transition-duration: .3s;
  transform-origin: left center;
}

#checkbox:checked + .toggle #bar3 {
  transform: rotate(-45deg);
  transition-duration: .3s;
  transform-origin: left center;
}

.search-bar-menu {
  display: none;
}

.logo img {
  width: 10rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  display: flex;
  padding-bottom: -0.15rem;
  margin-bottom: 0.1rem;
  align-items: center;
  justify-content: space-between;
  transition: background-size 0.2s ease-out, color 0.2s ease-out;
  scale: 0.97;
  background: linear-gradient(to right, #005eff 0%, #005eff 100%);
  background-size: 0% 1px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.nav-links a:hover {
  background-size: 100% 1px;
  color: #005eff;
}

#login {
  background: #1a6eff;
  color: #fff;
  padding: 8px 20px;
  border-radius: 20px;
  margin-bottom: 2px;
  transition: background 0.2s ease-out;
}

#login:hover {
  background: #3F79DA;
}

.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}

.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #97bdff;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #3F79DA;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {

  0%,
    100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}

/* Main Content */
.main-content {
  display: flex;
  height: calc(100vh - 60px);
  width: 100%;
  position: relative;
  margin-bottom: 0.55rem;
  margin-left: 0.5rem;
  overflow: auto;
}

/* Sections */
.section {
  display: flex;
  flex-direction: column;
  border: 1px solid #aaa;
  padding: 15px;
  background: transparent;
  overflow: auto;
  border-radius: 0.8rem;
}

/* Code Editor */
#code-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor {
  flex-grow: 1;
  height: 100%;
  border: 1px solid #aaa;
  padding: 10px;
  border-radius: 10px;
  background: transparent;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.85rem;
}

#visual-debugger {
  display: flex;
  font-size: 0.95rem;
  color: rgba(0,0,0,0.7);
  line-height: 1.5rem;
}

.debug-output {
  text-align: justify;
}

#visual-debugger {
  overflow-y: auto; /* Enables scrolling */
  height: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

#visual-debugger::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

#variable-space {
  margin-right: 1.15rem;
}

button {
  padding: 8px 20px;
  border: none;
  background: #3F79DA;
  color: white;
  cursor: pointer;
  font-size: 14px;
  border-radius: 20px;
  transition: background 0.3s;
}

button:hover {
  background: #cee0ff;
  color: #3F79DA;
}

#execute {
  background: transparent;
  color: #3F79DA;
  border: 1px solid #3F79DA;
}

#execute:hover {
  background: #c5daff;
}

/* Resizer */
.resizer {
  width: 3.5px;
  background: transparent;
  cursor: ew-resize;
  height: 97%;
  margin-right: 0.1rem;
  margin-left: 0.1rem;
  margin-top: 0.6rem;
  border-radius: 2rem;
  transition: all 0.3s ease-out;
}

.resizer:hover {
  background: #aeaeae;
}


@media (max-width: 768px) {
  .navbar {
    padding: 10px 5%;
  }

  .nav-links {
    display: none;
  }

  .search-bar {
    display: block;
  }

  .nav-links a {
    padding: 6px 12px;
    font-size: 14px;
  }

  .main-content {
    flex-direction: column;
  }

  .section {
    width: 100% !important;
    height: 33%;
  }

  .editor {
    height: 98.5%;
  }

  .resizer {
    height: 5px;
    width: 100%;
    cursor: ns-resize;
  }
}
